<div class="photo-test word-test photo-detail">
    <div class="content-top">
        <table class="table ww-list">
            <tbody>
                <tr ng-repeat="row in list">
                    <td class="cus-col-1">
                        <div class="test-title"><span>图片名称 : &nbsp</span><span ng-bind="row.imageName" class="fileName"></span></div>
                        <div class="test-content clearfix">
                            <img src="{{row.imagePath}}?x-oss-process=image/resize,m_fill,h_80,w_80" ng-click="event.showBigImg(row.imagePath)" class="img-thumbnail">
                            <ul class="text-words">
                                <li ng-bind="row.textContent"></li>
                                <li><span>编辑时间 : &nbsp</span><span ng-bind="row.editTime | date: 'yyyy-MM-dd HH:mm:ss'"></span></li>
                            </ul>
                        </div>
                    </td>
                    <td class="cus-col-2">
                        <ul>
                            <li>
                                <span>检测编号 : &nbsp</span><span ng-bind="row.no"></span>
                            </li>
                            <li>
                                <span>检测时间 : &nbsp</span><span ng-bind="row.createTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                            </li>
                        </ul>
                    </td>
                    <td class="cus-col-3">
                        <ul>
                            <!--                             <li><span>检测状态 : &nbsp</span>
                                <button class="btn btn-xs bg-gold" ng-bind="row.status.name"></button>
                            </li> -->
                            <li>
                                <span ng-bind="row.score" class="score mgr-right10" ng-class="{'color-success': row.isSuccess, 'color-info': row.isInfo, 'color-warning': row.isWarning, 'color-danger': row.isDanger}"></span>
                                <span ng-bind="row.rank" class="highlight" ng-class="{'color-success': row.isSuccess, 'color-info': row.isInfo, 'color-warning': row.isWarning, 'color-danger': row.isDanger}"></span>
                            </li>
                            <li><span>匹配敏感词量 : &nbsp</span><span ng-bind="row.keywordCount"></span></li>
                            <li><span>确认违禁词量 : &nbsp</span><span ng-bind="row.confirmedCount"></span></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="divider"></div>
    <div class="content-center">
        <div class="paging-box clearfix word-test">
            <div class="btn-group col-md-4">
                <label class="i-checks pull-left mgr-right15">
                    <input type="checkbox" ng-model="selectAll" ng-click="event.selectAll()"><i></i> 全选
                </label>
                <a href="" class="btn btn-default" ng-click="event.allBan()">确认违禁</a>
                <a href="" class="btn btn-default mgr-right-5" ng-click="event.allNotBan()">确认非违禁</a>
            </div>
            <div class="paging col-md-8">
                <ul class="paging-overview">
                    <li class="li">共</li>
                    <li ng-bind="page.total"></li>
                    <li>个敏感词</li>
                    <li ng-bind="page.pageNum"></li>
                    <li>/</li>
                    <li ng-bind="page.pages"></li>
                </ul>
                <ul uib-pagination total-items="page.total" ng-model="page.pageNum" items-per-page="
                page.pageSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" template-url="/tpl/blocks/pagination.html" ng-change="event.pageChanged()">
                </ul>
            </div>
        </div>
        <div>
            <table class="table table-condensed ww-table">
                <thead>
                    <tr>
                        <th>
                            <!--                         <label class="i-checks">
                                <input type="checkbox" checked><i></i>
                            </label> -->
                        </th>
                        <th>敏感词</th>
                        <th>匹配位置</th>
                        <th>违禁理由</th>
                        <!-- <th>相关案例</th> -->
                        <th>是否违禁</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data">
                        <td>
                            <label class="i-checks">
                                <input type="checkbox" name="" ng-model="row.selected"><i></i>
                            </label>
                            <!--                         <label class="i-checks">
                                <input type="checkbox" checked><i></i>
                            </label> -->
                        </td>
                        <td ng-bind="row.name"></td>
                        <td ng-bind-html="row.context | highlight: {keyWords:row.name,index:row.firstCharIndex}" class="highlight"></td>
                        <td ng-bind="row.banReason"></td>
                        <!-- <td ng-bind="row.relatedCase"></td> -->
                        <td class="edit">
                            <div uib-dropdown>
                                <a id="btn-append-to-single-button" uib-dropdown-toggle class="clearfix">
                                    <span class="mgr-right-0">{{row.isBanned | codeToName}}</span><span class="fa fa-chevron-down"></span><span class="fa fa-chevron-up"></span>
                                </a>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                    <li role="menuitem">
                                        <a href="" ng-click="event.isConfirm(row)" class="mgr-right10 color-blue" ng-hide="row.isBanned=='0'">待确认</a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="" ng-click="event.confirmBan(row)" class="mgr-right10 color-blue" ng-hide="row.isBanned=='1'">确认违禁</a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="" ng-click="event.confirmNotBan(row)" class="mgr-right10 color-blue" ng-hide="row.isBanned=='2'">确认非违禁</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-no-data" ng-show="!data">
                <div><img src="images/anhu/icon/icon-info.png">暂无记录</div>
            </div>
        </div>
        <div class="paging-box paging-bottom clearfix">
            <div class="paging col-md-8 pull-right">
                <ul class="paging-overview">
                    <li class="li">共</li>
                    <li ng-bind="page.total"></li>
                    <li>个敏感词</li>
                    <li ng-bind="page.pageNum"></li>
                    <li>/</li>
                    <li ng-bind="page.pages"></li>
                </ul>
                <ul uib-pagination total-items="page.total" ng-model="page.pageNum" items-per-page="
            page.pageSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" template-url="/tpl/blocks/pagination.html" ng-change="event.pageChanged()">
                </ul>
            </div>
        </div>
    </div>
</div>
