<div class="photo-test account">
    <div class="content-top">
        安乎客户角色管理
    </div>
    <div class="content-center">
        <div class="search-box">
            <form name="form" class="form-validation form-horizontal account">
                <cus-text label="角色名称 :" colspan="2" ngmodel="model.Name"></cus-text>
                <cus-form label="角色描述 :">
                    <textarea class="form-control" ng-model="model.Description"></textarea>
                </cus-form>
                <cus-form label="功能权限：">
                    <ul class="ztree" id="tree" z-nodes="zNodes" setting="setting" z-tree></ul>
                </cus-form>
            </form>
            <button class="btn m-b-xs btn-info" style="min-width:90px;" ng-click="event.save()">保存</button>
            <button class="btn m-b-xs btn-default" style="min-width:90px;" ng-click="event.close()">取消</button>
        </div>
    </div>
</div>