<!-- 角色管理 -->
<div class="photo-test notice">
    <div class="content-top">用户管理</div>
    <div class="content-center">
        <div class="search-box row">
            <form class="form-validation form-horizontal">
                <div class="col-md-4">
                    <cus-text label="管理员名称" placeholder="输入管理员名称" colspan="4" ngmodel="selected.EmployeeName"></cus-text>
                </div>
                <div class="col-md-4">
                    <cus-form label="类型" colspan="3">
                        <ui-select ng-model="selected.type" theme="bootstrap">
                            <ui-select-match>
                                <span ng-bind="$select.selected.Name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="type in types track by $index">
                                <span ng-bind="type.Name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </cus-form>
                </div>
                <button class="btn btn-ww width-60 pull-right" ng-click="event.search()">查询</button>
            </form>
        </div>
        <cus-button></cus-button>
        <cus-grid grid-config="gridOptions" edit="false"></cus-grid>
    </div>
</div>
